@use '../abstracts/' as *;

.input {
  all: unset;
  appearance: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 16px;
  border-bottom: 1px solid black;
  outline-style: none;
  align-self: stretch;
  background-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;

  &::placeholder {
    color: $gray50;
  }

  &:focus-within {
    border-bottom: 2px solid black;
  }

  &:hover,
  &:focus {
    background-color: $gray95;
  }
}
