@use '../abstracts/' as *;

.input {
  all: unset;
  appearance: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 16px;
  border-bottom: 1px solid black;
  outline-style: none;
  align-self: stretch;
  background-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;

  &::placeholder {
    color: $gray50;
  }

  &:focus-within {
    border-bottom: 2px solid black;
  }

  &:hover,
  &:focus {
    background-color: $gray95;
  }

  //   &:user-invalid {
  //     border-bottom: 1px solid red;
  //   }
}

// .input-box {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   gap: 16px;

//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   gap: 16px;
//   border-bottom: 1px solid #000000;

//   input {
//     font-family: 'Raleway';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 19px;
//     padding: 16px;
//     /* identical to box height */
//     border: none;
//     outline: none;
//     width: 100%;
//     background-color: inherit;

//     font-feature-settings: 'pnum' on, 'lnum' on;

//     /* Grey/50 */

//     color: $gray50;
//   }

//   &:hover,
//   &:focus,
//   &:has(input:focus, input:active) {
//     background-color: $gray95;
//   }

//   &:focus,
//   &:has(input:focus, input:active) {
//     border-bottom: 2px solid #000000;
//   }

//   &:has(input:user-invalid) {
//     border-bottom: 1px solid red;
//   }

//   &::after {
//     content: 'Error';
//   }
// }
