@use '../abstracts/' as *;

.login,
.sign-up {
  &__form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    padding: 25px 0;
    gap: 25px;
  }

  .submit-btn {
    padding: 20px 30px;
    align-self: stretch;
    @include respond-to('small') {
      align-self: flex-start;
    }
  }

  .move-to-btn {
    align-self: flex-end;
  }
}
