@use 'header' as *;
@use 'footer' as *;
@use '../abstracts' as *;

.main {
  margin-bottom: var(--footer-height);
  margin-top: var(--header-height);
  width: 100vw;

  .see-all-btn {
    align-self: stretch;
    order: 2;
    @include respond-to('small') {
      align-self: auto;
      margin: 0 auto;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    @include respond-to('small') {
      padding: 50px 100px;
    }
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    gap: 25px;
    background: #ffffff;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

    @include respond-to('small') {
      padding: 100px 200px;
    }
  }

  .article {
    width: 325px;

    @include respond-to('small') {
      width: 380px;
    }
  }

  // &:has(.success, .sign-up, .donation, .login) + .footer {
  //   --footer-height: 0px;
  //   @include respond-to('small') {
  //     --footer-height: 64px;
  //   }
  // }
}
