@use 'header' as *;
@use 'footer' as *;
@use '../abstracts' as *;

.main {
  padding-bottom: var(--footer-height);
  padding-top: var(--header-height);
  width: 100dvw;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  .see-all-btn {
    align-self: stretch;
    order: 2;
    @include respond-to('small') {
      align-self: auto;
      margin: 0 auto;
    }
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    gap: 25px;
    background: #ffffff;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

    @include respond-to('small') {
      padding: 100px 200px;
    }
  }

  .article {
    min-width: 300px;
    max-width: 380px;
    flex: 1;
  }
}
