@use '../abstracts/' as *;

.profile-settings {
  min-width: 375px;
  max-width: 600px;
  width: 100%;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;

  &:modal {
    max-height: 100%;
  }

  &__upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 50px;
    background: $gray95;
    border: 1px solid $gray50;

    &-icon {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    &-label {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin: auto;
      cursor: pointer;
      text-decoration-line: underline;
      color: $gray50;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 25px;
    gap: 25px;
  }
  &__submit-btn {
    padding: 20px 30px;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

.profile-page {
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 25px;
    background: #ffffff;
    @include respond-to('small') {
      padding: 50px 100px;
      gap: 40px;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;

    background-color: $gray95;
  }
  &__icon {
    width: 100px;
    height: 100px;
    border: 1px solid $gray50;
    border-radius: 50%;
  }
  &__edit-btn {
    padding: 20px 30px;
  }
}
