// @use 'fonts' as *;
@use 'abstracts' as *;
@use 'base' as *;
@use 'components' as *;
@use 'layout' as *;

:root {
  --footer-height: 64px;
  --header-height: 70px;
  :has(.sign-up, .login, .donation, .success, .profile-settings) {
    --footer-height: 0px;
    @include respond-to('small') {
      --footer-height: 64px;
    }
  }
}

h1 {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  text-transform: capitalize;

  /* Black */
  color: #000000;
}

body.lock {
  overflow: hidden;
}

.collapsable {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  @include transition-ease;
  @include respond-to('small') {
    grid-template-rows: 1fr;
  }

  &.open {
    grid-template-rows: 1fr;
  }
}
